* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
body, ul {
  margin: 0;
  padding: 0;
}
.header {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}
.header a {
    text-decoration: none;
    color: #000000
}
.topnav {
    overflow: hidden;
    background-color: rgb(0,0,0,0.5);
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.aside {
    width: 18%;
    float: left;
}
.aside ul li {
    list-style: none;
    margin-left: 10px;
}
.aside a {
    text-decoration: none;
    color: #000000;
}
.column {
    float: left;
    padding: 10px;
}
.column.middle {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.column.middle ul li {
    float: left; 
    list-style-type: none;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.food {
    display: flex;
    justify-content: center;
}
.food-item {
    flex-basis: 100px;
    flex-shrink: 0;
    margin: 0 90px;
    transition: all .4s;
}
.food-item:hover {
    flex-basis: 160px;
}
.food-item img {
    width: 200%;
}
.footer {
    background-color: rgb(0,0,0,0.5);
    color: #f2f2f2;
    padding: 10px;
    margin-top: 1010px;
    text-align: left;
}
